.main-results{
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.5rem;
    margin-top: 1rem;
}

.navigation{
    width: 80%;
}

.navigation__arrow{
    font-size: 0.5rem;
}

.main-results__form{
    @include flexCenter;
    flex-direction: column;

}

.main-results__input,
.main-results__button{
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    padding: 0.25em;
    border-radius: 15px;
    width: 100%;
    max-height: 73px;
    text-align: center;
    margin: 20px;
}

.button__go{
    background: $go-button;
    color: $header-color;
}

.button__correct{
    background: $result-button-yes;
    color: $header-color;
}

.button__incorrect{
    background: $result-button-no;
    color: $header-color;
}

.main-results__input:focus,
.main-results__button:focus{
    outline: none;
    box-shadow: $shadow;
}

.game-buttons{
    display: flex;
    justify-items: stretch;
    flex-direction: row;
}

.game-info{
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
}

@include mq(768px){
    .main-results{
        font-size: 1rem;;
    }

    .main-results__input,
    .main-results__button{
        font-size: 1.5rem;
        width: 100%;
        max-height: 150px;
    }
}
