@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #aceed5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

.main-overlay {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header, .footer {
  background: #08925d;
  color: #fff;
  font-size: 0.5rem;
  width: 100%;
  min-height: 60px;
  text-align: center;
}

.footer {
  position: fixed;
  height: 60px;
  top: calc(100vh - 60px);
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
}

.header a,
.footer a {
  color: #fff;
  text-decoration: none;
}

.title-break {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 1rem;
  }
  .footer {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1020px) {
  .title-break {
    display: none;
  }
}

.main-entry {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5rem;
  margin-top: 1rem;
}

.main-entry__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-entry__input,
.main-entry__button {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  padding: 0.25em;
  border-radius: 15px;
  width: 100%;
  max-height: 73px;
  text-align: center;
  margin-top: 20px;
}

.main-entry__button {
  background: limegreen;
  color: #fff;
}

.main-entry__input:focus,
.main-entry__button:focus {
  outline: none;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .main-entry {
    font-size: 1rem;
  }
  .main-entry__input,
  .main-entry__button {
    font-size: 1.5rem;
    width: 100%;
    max-height: 150px;
  }
}

.main-results {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5rem;
  margin-top: 1rem;
}

.main-results__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-results__input,
.main-results__button {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  padding: 0.25em;
  border-radius: 15px;
  width: 100%;
  max-height: 73px;
  text-align: center;
  margin-top: 20px;
}

.main-results__button {
  background: limegreen;
  color: #fff;
}

.main-results__correct {
  background: limegreen;
  color: #fff;
}

.main-results__incorrect {
  background: limegreen;
  color: #fff;
}

.main-results__input:focus,
.main-results__button:focus {
  outline: none;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .main-results {
    font-size: 1rem;
  }
  .main-results__input,
  .main-results__button {
    font-size: 1.5rem;
    width: 100%;
    max-height: 150px;
  }
}

.card {
  position: relative;
  -webkit-transform: -270deg;
          transform: -270deg;
  scale: 0.5;
  height: 175px;
  width: 150px;
}

.card-inner {
  position: relative;
  -webkit-transform: -270deg;
          transform: -270deg;
  scale: 0.5;
  width: 200px;
  height: 150px;
}

.card-outer {
  position: relative;
  -webkit-transform: -270deg;
          transform: -270deg;
  scale: 0.5;
  width: 200px;
  height: 150px;
}

.card:hover {
  cursor: url("Assets/Cursors/bluePoint.cur"), auto;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  scale: 0.6;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.card.visible .card-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.visible .card-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card.matched .card-value {
  -webkit-animation: dance 1s linear 1000ms;
          animation: dance 1s linear 1000ms;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  color: #B0B3D3;
  font-family: Creepy, serif;
}

.overlay-text.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: overlay-grow 500ms forwards;
          animation: overlay-grow 500ms forwards;
}

.overlay-text-small {
  font-size: .3em;
}

@-webkit-keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(33, 129, 9, 0.8);
    font-size: 5em;
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(33, 129, 9, 0.8);
    font-size: 5em;
  }
}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes dance {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.card-back {
  background-color: white;
  border-color: #DFE0EE;
}

.card-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: white;
  border-color: blue;
}

.card-value {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.card-front:hover .card-value {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.corner {
  position: absolute;
  width: 47px;
  height: 47px;
}

.card-face:hover .corner {
  width: 42px;
  height: 42px;
}

.corner-top-left {
  top: 0;
  left: 0;
}

.corner-bottom-left {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  bottom: 0;
  left: 0;
}

.corner-top-right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  top: 0;
  right: 0;
}

.corner-bottom-right {
  -webkit-transform: rotate(270deg) scaleY(-1);
          transform: rotate(270deg) scaleY(-1);
  bottom: 0;
  right: 0;
}

.blue-logo {
  height: 80px;
  width: 80px;
  position: center;
}

.card-back:hover .blue-logo {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
/*# sourceMappingURL=main.css.map */