$body-bg: rgb(172, 238, 213);
$header-bg: rgb(8, 146, 93);
$header-color: #fff;
$card-bg: dodgerblue;
$shadow: 20px 20px 20px rgba(0,0,0,0.2);
$card-answer: rgb(240, 205, 31);
$go-button: limegreen;
$result-button-yes: rgb(240, 205, 31);
$result-button-no: darkgreen;
